
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./image/homeBackground-Image.jpg');
    z-index: 100;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
body button{
    transition: ease-in .2s;
}
body button:hover{
    transform: translateY(-0.05rem);
}
.head{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size:large;
    align-items: center;
    background-color: rgb(116, 109, 109);
    color: rgba(251, 251, 251, 0.9);
}
#btn{
    padding: 5px;
    font-size: medium;
}
.nav-bar{
    position: sticky;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(116, 109, 109,.6);
    color: rgba(251, 251, 251, 0.9);
}
.nav-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 10px;
}
.nav-links li a{
    text-decoration: none;
    padding-right: 20px;
    font-size: large;
    color: rgba(251, 251, 251, 0.9);
}
.nav-links li a:hover{
    color: rgba(186, 251, 254, 0.9);

}
#signup{
    font-size: medium;
}
#toggle-button{
display: none;
color: white;
}
.welcome{
   margin: 20px;
   color: white;
}
#news,#blog,button{
    padding: 8px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
}

#news:hover .updates{
    display: block;
    position: relative;
    padding-top: 10px;
    top: 100%;
}
.updates{
    display: none;
    text-align: left;
    background-color: black;
    color: white;
    z-index: 1;
    padding: 10px;
}
.updates ol{
    list-style-type: none;
    margin-top: 10px;
}
.updates ol li{
    padding-bottom: 10px;
}
.updates ol li:hover{
    color: aqua;
}
.my-description{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-description p{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(18, 230, 237);
    text-transform: uppercase;
}
.subscription{
    margin-top: 80px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.subscription input{
    padding: 10px;
    background-color: aqua;border: none;
    outline: none;
}
.copyright{
    background-color: grey;
    text-align: center;
    padding: 20px;
    height: 30vh;
    width: 100%;
    position: relative;            
}

@media screen and (max-width:786px) {
    #toggle-button{
display: block;
color: white;
} 
.nav-links{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    height: 80vh;
}
.nav-links li{
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 10px;
}
.active{
    display: block;
}
}
@media screen and (max-width:386px) {
    .head{
    display: block;   
} 
    
}